body{
  background-image: linear-gradient(#ff7f00, #ffbb00);
  min-height: 100vh;
  box-sizing: border-box;
}
body * {
  box-sizing: inherit;
}
.title{
  height: 300px;
  font-size: 92px;
  font-weight: bold;
  padding: 78px 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}
.container{
  max-width: 850px;
  margin: 0 auto;
  padding: 5px;
}
.search-bar{
  height: 170px;
  text-align: center;
}
.search-bar__group{
  min-width: 705px;
  display: inline-block;
  height: 85px;
  background: white;
  position: relative;
}
.search-bar__input{
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 30px;
  font-size: 34px;
  color: black;
}
.search-bar__icon{
  position: absolute;
  background: url(search-icon.png);
  right: 25px;
  width: 36px;
  height: 36px;
  top: 26px;
  background-size: contain;
}
.capitals{
  border-top: 3px solid white;
  padding: 25px 120px;
}
.capitals__title{
  color:white;
  font-size: 50px;
  font-weight: bold;
}
.capitals-table{
  padding-top: 15px;
}
.capitals-table__row{
  display: flex;
  flex-wrap: wrap;
}
.capitals-table__item{
  width: 300px;
  display: flex;
  align-items:flex-end;
}
.capitals-table__th, .capitals-table__td{
  padding: 6px;
  font-size: 18px;
  color: #6e4e16;
}
.capitals-table__td{
  font-weight: bold;
  color: #222222;
}
.card{
  width: 705px;
  background-color: white;
  height: 425px;
  position: relative;
  color: #505050;
  font-size: 23px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.card__location{
  position: absolute;
  left: 75px;
  top: 27px;
  font-weight: bold;
}
.card__weather{
  position: absolute;
  left: 75px;
  top: 73px;
  font-size: 69px;
  font-weight: bold;
}
.card__lower-bound-icon, .card__upper-bound-icon{
  display: inline-block;
  background-size: cover;
  background-image: url(arrow-down.png);
  width: 23px;
  height: 23px;
  margin-right: 3px;
}
.card__close{
  position: absolute;
  right: 20px;
  top: 35px;
  width: 23px;
  height: 23px;
  background-image: url(cross.png);
  background-size: cover;
}
.card__upper-bound-icon{
  background-image: url(arrow-up.png);
}
.card__lower-bound, .card__upper-bound{
  position: absolute;
  left: 75px;
  top: 192px;
  font-size: 23px;
  font-weight: bold;
}
.card__upper-bound{
  left: 155px;
}
.card__sense{
  position: absolute;
  left: 265px;
  top: 192px;
}
.card__humidity{
  position: absolute;
  left: 265px;
  top: 255px;
}
.card__wind{
  position: absolute;
  left: 75px;
  top: 255px;
}
.card__line{
  position: absolute;
  top: 312px;
  left: 35px;
  width: 635px;
  height: 1px;
  background: #ff9832;
}
.card-days{
  position: absolute;
  left: 75px;
  top: 332px;
  width: 550px;
  justify-content: space-between;
  display: flex;
}
.card-day__name{
  font-weight: bold;
  font-size: 24px;
}
.card-day__temperature{
  color: #ff8000;
  font-size: 21px;
  margin-top: 6px;
  font-weight: bold;
}